{% extends "main/base_01.html" %}
{%block content%}
{% load static %}

<section class="content_step">
<div class="step">
  <h4>Step 1 : อัพโหลดแบบฟอร์มหนังสือขอความอนุเคราะห์</h4>
  <form method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="center">
      <div class="set">
        <section class="sec-date">
          <label class="date">เดือน/วัน/ปี : </label>
          {{ form.date }}
        </section>

        <section class="sec-nametitle">
          <label class="name-title">คำนำหน้า: </label>
          {{ form.nameTitle  }}
        </section>

        <section class="sec-name">
          <label class="name">ชื่อ :</label>
          {{ form.name }}
        </section>

        <section class="sec-surname">
          <label class="surname">นามสกุล :</label>
          {{ form.sername }}
        </section>
      </div>

      <div class="set">
        <section class="sec-id">
          <label class="id">รหัสนักศึกษา :</label>
          {{ form.studentID }}
        </section>

        
      </div>
      <div class="set">
        <section class="sec-major">
          <label class="major">คณะ :</label>
          {{ form.major }}

        </section>



        <section class="sec-company">
          <label class="company">ชื่อบริษัท :</label>
          {{ form.company }}

        </section>
      </div>

      <div class="set">
        <section class="sec-address">
          <label class="address">ที่อยู่ :</label>
           {{ form.addresscompany }}

        </section>


        <section class="sec-destination">
          <label class="destination">ตำแหน่ง :</label>
          {{ form.destination }}


        </section>
      </div>

      <div class="set">
        <section class="sec-phone">
          <label class="phone">เบอร์โทร :</label>
          {{ form.phone }}

        </section>

        <section class="sec-email">
          <label class="email">Email :</label>
          {{ form.email }}

        </section>
      </div>
    </div>
    <button type="submit" class="start_submit">Submit</button>
  </form>
  <!-- <a href="{% url 'main:Step1'  %}" class="read-more">สร้างเอกสารคำร้อง</a><br><br><br> -->
</div>


<section class="step-wizard">
  <ul class="step-wizard-list">
    <li class="step-wizard-item current-item">
      <span class="progress-count">1</span>
      <span class="progress-label">Step 1</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">2</span>
      <span class="progress-label">Step 2</span>
    </li>
    <li class="step-wizard-item  ">
      <span class="progress-count">3</span>
      <span class="progress-label">Step 3</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">4</span>
      <span class="progress-label">Step 4</span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">5</span>
      <span class="progress-label">Step 5</span>
    </li>

  </ul>
</section>
</section>
{%endblock%}