{% extends "main/base_01.html" %}



{%block content%}    
<section class="step-wizard">
  <ul class="step-wizard-list">
    <li class="step-wizard-item current-item">
      <span class="progress-count">1</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">2</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item  ">
      <span class="progress-count">3</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">4</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">5</span>
      <span class="progress-label">Upload Form </span>
    </li>

  </ul>
</section>
  <br><br>
  <br><br>

<div class="step">
<h4>Step 1 : อัพโหลดแบบฟอร์มหนังสือขอความอนุเคราะห์</h4>
<br><br>


<label for="formFileSm" class="form-label">upload file .pdf</label>
<form class="row g-2" action="{%url 'main:step1_1'%}" method="post" enctype="multipart/form-data">
   {% csrf_token %}
  <div class="col-auto">
    
    <input class="form-control form-control-sm" name="file1" type="file">
  </div>
  <div class="col-auto">
    
    <button type="submit" class="btn btn-primary btn-sm ">submit</button>
  </div>
</form>


</div>

{%endblock%}