{% extends "main/base_01.html" %}



{%block content%}    
<section class="step-wizard">
  <ul class="step-wizard-list">
    <li class="step-wizard-item">
      <span class="progress-count">1</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">2</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item  ">
      <span class="progress-count">3</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item current-item">
      <span class="progress-count">4</span>
      <span class="progress-label">Upload Form </span>
    </li>
    <li class="step-wizard-item">
      <span class="progress-count">5</span>
      <span class="progress-label">Upload Form </span>
    </li>

  </ul>
</section>

<br><br>
  <br><br>
  <div class="step">
    <h4>Step 4 : ดาวน์โหลด smth</h4>
    <a href="/static/css/images/ใบบันทึกเวลาฝึกงานนักศึกษา.pdf" download>
      <button type="submit" class="start_submit">Download</button>
    </a>
  </div>

  {%endblock%}