<!DOCTYPE HTML>
<html >
    <head>
    
        <META charset= 'en'>
        <title>
            แบบฟอร์มขอหนังสือ ขอความอนุเคราะห์ฝึกงานภาคฤดูร้อน/สหกิจศึกษา
        </title>
    </head>
    <style>
     
    
      p{
        font-family: AngsanaNew;
        font-size: 50px;
      }
      body {
                font-weight: 200;
                font-size: 18px;
                /* font-family: "THSarabunNew"; */
            }
      </style>
    <body>
       <p> อนุชนา </p>
    </body>
</html>
