<!-- templates/registration/login.html -->
{% extends 'registration/base_login.html' %}

{% block title %}Log In{% endblock %}

{% block content %}

<!-- <form method="post" class="container">
    <div class="forms-container">
      <div class="sighin-signup">

        <form action="#" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          {% csrf_token %}
          <div class="input-field">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="Username">
          </div>
          <div class="input-field">
            <i class="fa fa-lock"></i>
            <input type="password" placeholder="Password">
          </div>
          <input type="submit" class="btn solid" value="Login">
        </form>
      </div>
    </div>  -->
    <!-- <div class="panels-container"></div> -->
<!-- </form> -->
<div class="center">
<h1>Sign in</h1>
<form method="post"> 
  <div class="txt_field">
    {% csrf_token %}
    {{ form.as_p }}
  </div>
    <button type="submit">Login</button>
      <div class="signup_link">
        Not a member ? <a href="{% url 'signup' %}">Sign up</a>
      </div>
</form>
</div>
 {% endblock %} 