
.card {
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 5px 24px 80px rgba(0, 0, 0, 0.342);
    padding: 10px 10px 28px 10px;
    box-sizing: border-box;
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
}











