@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css);
*{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #c00832;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #940728;
}

body  {
  /* background-image: linear-gradient(rgba(205, 207, 216, 0.7),rgba(255, 255, 255, 0.7)), url(/static/css/images/bg.jpeg) ; */
  /* background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  font-family: 'PT mono', sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
            background-color: rgb(253, 255, 252);
  overflow-x: hidden;
}

.body {
  background-image: url(/static/css/images/TSE_img.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* background-attachment: fixed; */
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  /* padding: 2% 4%; */
  padding-left: 2%;
  padding-right: 2%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 7vh rgba(0, 0, 0, 0.5);
}
nav .logo{
  height: 9vh;
  margin: 5px;
}
.nav-links{
  display: flex;
  align-items: center;
  flex: 1;
  text-align: right;
}

.nav-links ul {
  margin: 1vh;
  height: 100%;
  width: 100%;
}

.nav-links ul li{
  display: flex;
  align-items: center;

  margin-left: 1vw;

  list-style: none;
  display: inline-block;
  padding: 20px 20px;
  position: relative;
}
.nav-links ul li a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #c00832;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  color: rgb(14, 13, 13);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(3, 3, 3);
  padding: 12px 34px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}
nav .fa{
  display: none;

}

@media (max-width: 700px){
  .text-box h1{
    font-size: 50px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 30px;
  }
}

.sub-about {
  display: none;
}
.nav-links ul li:hover .sub-about {
    display: block;
    position: absolute;
    background: #c00832;
    margin-top: 2vh;
    margin-left: -15px;

    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

    z-index: 20;
  
}
.nav-links ul li:hover .sub-about ul {
  display: block;
  text-align: left;
  padding-left: 0px;
}
.nav-links ul li:hover .sub-about ul li{
  width: 110px;
  padding: 5px;
  /* margin-left: -15px; */
  background: transparent;
  border-radius: 0;
  text-align: left;
  color: white;
}

.nav-links ul li:hover .sub-about ul li :last-child{
  border-bottom: none;
}

.nav-links ul li:hover .sub-about ul a:hover li{
  color: rgb(255, 179, 179);
}

.text-home {
    margin-left: 10%;
    margin-top: 1%;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 26px;
    text-align: left;

}

.text-home h1 {
    font-size: 75px;
    line-height: 160px;
}

.text-home a{
    display: inline-block;
    border-radius: 6px;
    border: 2px solid rgb(218, 172, 58);
    color: rgb(218, 172, 58);
    padding: 10px 30px;
    text-decoration: none;
}
.text-home .btn {
    background: rgb(218, 172, 58);
    color: #000;
    font-weight: 600;
    margin-left: 30px;
}

.text-home a:hover {
    background: rgb(238, 99, 34);
    color: #000;
}

/* table intern news */ /*ยังทำไม่ได้ตัดคำเวลาประโยคยาวเกิน*/

.containertable {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 10%;
  display: flex;
  justify-content: top;
  align-items: center;
  text-align: center;
  flex-direction: column;
  table-layout: fixed;
}

.containertable .content-table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  /* table-layout: fixed; */
}

.containertable .content-table thead tr {
  background-color: #ce1d1d;
  color: #ffffff;
  text-align: left;
  /* text-overflow: clip; */
  font-weight: bold;
}

.containertable .content-table th,
.containertable .content-table td {
  padding: 10px 50px 10px 50px;
}

.containertable .content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: white;
  width: 11em; 
  /* border: 1px solid #000000; */
  word-wrap: break-word;
}

.containertable .content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  /* font-weight: bold; */
  color: #ce1d2f;
}

.containertable .content-table tbody tr:last-of-type {
  border-bottom: 2px solid #ce1d2f;
}

.containertable .content-table tbody tr a {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  background: #246bdd;
  /* background: rgb(185, 185, 185); */
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.containertable .content-table tbody tr a:hover {
  background: #d6e6ff;
  color: #246bdd; /* #4187f6; */
}

/*ิbookmark*/
.containertable .content-table tbody tr input{
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  position: relative;
  left: -40px;
  outline: none;
  cursor: pointer;
  
}

.containertable .content-table tbody tr input:before{
  content: "";
  position: absolute;
  left: 30px;
  height: 20px;
  border-left: 10px solid #b7c7e0;
  border-right: 10px solid #b7c7e0;
  border-bottom: 10px solid transparent;
}

.containertable .content-table tbody tr input:checked{
  animation: scale 0.4s;
}

@keyframes scale {
  80%{ transform: scale(0.8); }
}

.containertable .content-table tbody tr input:checked::before{
  border-left: 10px solid #246bdd;
  border-right: 10px solid #246bdd;
  transition: 0.3s 0.2s border;
}