{% extends "admin_manage/base_01.html" %}

{% block content %}

{% for i in messages%}
 <div class="alert alert-success" role="alert">   
  <br>
<center>{{i}}</center>  </div>
<meta http-equiv="refresh" content="4">
 {%endfor%} 

<br><br>
<center><h2>Admin Dashboard</h2>
<br><br>

  <div class="card"> &nbsp;&nbsp;&nbsp; 
      <a style="text-decoration: none;" href="{% url 'admin_manage:add_student' %}">ลงทะเบียนนักศึกษาใหม่</a>
  </div>
  
  <div class="card"> &nbsp;&nbsp;&nbsp; 
    <a style="text-decoration: none;" href="{% url 'admin_manage:add_student' %}">ดูแบบฟอร์มขอความอนุเคราะห์</a>
  </div><br>


<br><br><br>
<!-- <h3> &nbsp;&nbsp;&nbsp; <a href="{% url 'user:logout' %}">logout</a> </h3><br> -->
</center>
{% endblock %}
