{% extends "admin_manage/base_01.html" %}

{% block content %}
{% load static %}

{% for i in messages%}
 <div class="alert alert-success" role="alert">   
  <br>
<center>{{i}}</center>  </div>
<meta http-equiv="refresh" content="4">
 {%endfor%} 

<br><br>
<div class="box"></div>
<h2>Admin Dashboard</h2>
<!-- <br><br> -->

<div class="menu_box">
  
  <div class="card-area">
    <a href="{% url 'admin_manage:add_student' %}" class="card">
      <img src="{% static 'css/images/add_student_icon.svg' %}">
      ลงทะเบียนนักศึกษาใหม่
    </a>
    <a href="{% url 'admin_manage:Step2' %}" class="card">
      <img src="{% static 'css/images/docs_icon.svg' %}">
      ดูแบบฟอร์มขอความอนุเคราะห์
    </a>
  </div>

  <i><img src="{% static 'css/images/paper_plane.svg' %}"></i>
</div>



<br><br>
<!-- <h3> &nbsp;&nbsp;&nbsp; <a href="{% url 'user:logout' %}">logout</a> </h3><br> -->

{% endblock %}
