{% extends "admin_manage/base_01.html" %}

{% load static %}

{%block content%}  
<div class="box_add_student"></div>

<div class="content">
  <div class="add_student_card2">

<h1 class="heading">รายชื่อ<span>นักศึกษา</span></h1>
    {%if user.username == "admin" %}

      <h4 class="h4-admin">รายชื่อนักศึกษาที่รอหนังสือตอบกลับ</h4>
    <!-- <br> -->
    <div class="containertable">
      <div class="table">
          <table class="content-table">
              <thead>
                  <tr>
                      <th>ชื่อ-นามสกุล</th>
                  </tr>
              </thead>

              <tbody>
                  
                {% for student in form %}
                {%if student.booknumber is None %}
                  <tr>
                    <td><a href="{% url 'main:Step2A' student.id %}" class="name-l">{{student}}</a></td>
                  </tr>

                  
                  {% endif %}
                  {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
   

    <h4 class="h4-admin">
    รายชื่อนักศึกษาที่ได้รับการตอบกลับแล้ว
    </h4>
    <!-- <br> -->

    <div class="containertable">
      <div class="table">
          <table class="content-table">
              <thead>
                  <tr>
                      <th>ชื่อ</th>
                      <th>นามสกุล</th>
                      <th>หมายเลขหนังสือ</th>
                  </tr>
              </thead>

              <tbody>
                  
                {% for list in form %}
                {%if list.booknumber is not None %}
                  <tr>
                      <td>{{list.name}}</td>
                      <td>{{list.sername}}</td>
                      <td>{{list.booknumber}}</td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  
              </tbody>
          </table>
      </div>
  </div>
  {% endif %}
</div>
</div>

{%endblock%}